In [4]:
import pandas as pd
pd.set_option("display.max_rows", 10)

In [7]:
from bokeh.sampledata.autompg import autompg

In [8]:
autompg

,mpg,cyl,displ,hp,weight,accel,yr,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [10]:
autompg.sort_values(by='mpg')

      mpg  cyl  displ   hp  weight  accel  yr  origin                  name
28    9.0    8  304.0  193    4732   18.5  70       1              hi 1200d
26   10.0    8  307.0  200    4376   15.0  70       1             chevy c20
25   10.0    8  360.0  215    4615   14.0  70       1             ford f250
27   11.0    8  318.0  210    4382   13.5  70       1            dodge d200
123  11.0    8  350.0  180    3664   11.0  73       1      oldsmobile omega
..    ...  ...    ...  ...     ...    ...  ..     ...                   ...
324  43.4    4   90.0   48    2335   23.7  80       2    vw dasher (diesel)
388  44.0    4   97.0   52    2130   24.6  82       2             vw pickup
323  44.3    4   90.0   48    2085   21.7  80       2  vw rabbit c (diesel)
327  44.6    4   91.0   67    1850   13.8  80       3   honda civic 1500 gl
320  46.6    4   86.0   65    2110   17.9  80       3             mazda glc

[392 rows x 9 columns]

In [1]:
autompg['make'] = pd.Series((n.split()[0] for n in autompg.name), index=autompg.index)

NameError: name 'pd' is not defined